body {
    background-color: black;
    font-family: 'Lato', sans-serif;
    height: 100%;
    margin: 0;
}

#title {
    color: white;
    font-family: 'Lato', sans-serif;
    padding-top: 10px;
}

.content {
    width: 700px;
    text-align: center;
    margin: auto;
}

#content {
    font-size: 1.3rem;
    color: white;
    padding-bottom: 40px;
}

#date {
    color: white;
    padding: 10px;
}

.main-img {
    width: 700px;
}